.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after, .menu::after, .search-form::after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-3 {
    width: 25%;
}

.col-md-6 {
    width: 50%;
}

.col-md-9 {
    width: 75%;
}

.col-md-3 > .row > .col-md-2 {
    width: 66.6666667%;
}

.col-md-3 > .row > .col-md-1 {
    width: 33.3333333%;
}

.col-md-9 > .row > .col-md-6 {
    width: 66.67%;
}

.col-md-9  > .row > .col-md-3 {
    width: 33.33%;
}


