:root {
    --accent-color: #2c71b8;    
    --fw-light: 300;
    --fw-bold: 700;    
}

* {
    box-sizing: border-box;
}

body {      
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: var(--fw-light);
    color: white;
    background-image: url(images/patt.png);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: var(--fw-light);    
}

h1, h2 {
    font-weight: var(--fw-bold);
    color: white;
}

h1 {    
    font-size: 48px;        
}

h2 {    
    font-size: 30px; 
}

p {
    margin: 30px 0;
}

select {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;        
}

.header {
    min-width: 1200px;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);    
}

.logo {
    margin-top: 7px;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.menu {
    --border: 1px solid var(--accent-color);
}

.menu > li {    
    position: relative;
    float: left;
    width: 25%;
    border-left: var(--border);
}

.menu li:last-child {
    border-right: var(--border);    
}

.menu > li > span::after {    
    content: "";            
    position: absolute;    
    width: 20px;
    height: 20px;
    top: 50%;
    left: 80%;    
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);    
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><polyline points="0,0 5,5 10,0" style="fill:none; stroke:rgb(44, 113, 184);"/></svg>') center no-repeat;
}

.menu a, 
.menu span {
    display: block;
    text-decoration: none;    
    font-size: 21px;
    font-weight: 300;
}

.menu > li > a,
.menu > li > span {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--accent-color);
}

.menu > li:hover > .submenu {
    display: block;
}

.menu > li:hover > span::after {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><polyline points="0,0 5,5 10,0" style="fill:none; stroke:white;"/></svg>') center no-repeat;
}
    
.menu > li:hover > span,
.menu > li:hover > a {
    color: white;
    background-color: var(--accent-color);
}

.submenu {
    display: none;
    position: absolute;
    left: -1px;
    width: calc(200% + 3px);
    z-index: 10;
}

.submenu > li > a { 
    line-height: 40px;        
    color: white;
    background-color: var(--accent-color); 
    padding-left: 10.4895105%;
}

.submenu > li > a:hover {    
    color: var(--accent-color);
    background-color: white; 
}

.form-search {   
    position: relative;     
    width: calc(100% + 30px);
    height: 40px;    
    margin-top: 5px;
    border: 1px solid var(--accent-color);    
}

.form-search > * {            
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;        
    height: 30px;
    outline: none;
}

.form-search > [type="text"] {    
    color: var(--accent-color);
    background-color: transparent;
    width: calc(100% - 34px);    /* 34px => ширина_кнопки(30px) + отступ_справа */
    padding: 0 20px;
    font-size: 21px;
}

.form-search > [type="submit"] {            
    left: calc(100% - 34px);    /* смещаем кнопку на расстояние равное ширине поля ввода */    
    width: 30px;    
    background: url(images/search.png) center no-repeat, var(--accent-color);
}

.form-search > [type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--accent-color);
    opacity: 1; /* Firefox */
 }

 .form-search > [type="text"]::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--accent-color);
} 

.cart {     
    display: block;
    float: right;    
    width: 40px;
    height: 40px;
    margin: 5px 0;
    background: url(images/cart-dark.png) center no-repeat;
    background-color: white;    
}

.cart-counter {
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;       
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    background-color: var(--accent-color);
}

.nav-main * {
    font-size: 14px;
    font-weight: var(--fw-light);
    text-decoration: none;
    color: rgb(210, 225, 240, 0.5);  
}

.nav-main a:hover {        
    text-decoration: underline;
}

.product-img {    
    text-align: center;    
    background-color: rgba(202, 219, 237, 0.75);    
    height: 180px;       
}

.product-img > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}

.product-info {
    color: white;    
    font-weight: var(--fw-light);
    padding: 15px 16px;
    border-top: none;
    background-color: rgba(44, 113, 184, 0.75);
}

.product-info > .btn {
    margin-bottom: 15px;
}

/* .product-info > p > span { */
.text-upcase-bold {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.product {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(202, 219, 237, 0.7);
}

.product-btn-bar {
    float: right;
}

.icon-zoom, .icon-like {
    display: block;
    border: 1px solid var(--accent-color);
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px -40px;
    padding: 4px 4px;    
    cursor: pointer;
    outline: none;
}

.icon-zoom {
    background: url(images/zoom.png) center no-repeat;
}

.icon-zoom:hover {
    background: url(images/zoom-active.png) center no-repeat, var(--accent-color);
}

.icon-like {
    background: url(images/like.png) center no-repeat;
}

.icon-like-selected {
    background: url(images/like-active.png) center no-repeat;
}

.icon-like:hover {
    background: url(images/like-active.png) center no-repeat, var(--accent-color);    
}

.btn {
    display: block;
    width: 210px;
    height: 50px;
    font-size: 21px;
    font-weight: var(--fw-bold);
    border: none;    
    color: white;        
    cursor: pointer;
    text-transform: uppercase;
}

.btn-add-to-cart:hover > .add-to-cart-icon {    
    background: url(images/cart-dark.png) center no-repeat;
}

.btn:hover {
    color: var(--accent-color);
    background-color: white;
}

.btn-type2 {        
    background-color: rgb(86, 141, 198, 0.8);
}

.btn-type1 {
    border: 1px solid white;
    background-color: var(--accent-color);
}

.btn-transparent {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-load-more {    
    font-size: 36px;    
    color: white;    
    margin: 15px 0;
}

.btn-transparent:hover {
    text-decoration: underline;
}

.add-to-cart-icon {
    display: inline-block;
    width: 1em;    
    height: 1em;
    position: relative;
    top: 2px;    
    background: url(images/cart-light.png) center no-repeat;
}

.block-center {    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.filter {
    background-color: rgba(86, 141, 198, 0.8);
    padding-bottom: 30px;
    padding-top: 30px;
    border-right: 1px solid white;
}

.checkbox-group {
    padding-left: 30px;        
}

.checkbox-group:nth-child(-n+2) {
    padding-bottom: 60px;
}

.text-primary {
    color: white;
    font-size: 21px;
    font-weight: var(--fw-light);
}

.checkbox-input {
    display: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: white;
}

.checkbox-label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border: 1px solid white;
}

.checkbox {
    padding: 10px 0;
}

.checkbox:last-child {
    padding-bottom: 0;
}

.checkbox:hover > .checkbox-label::before {
    box-shadow: 0px 0px 10px 5px var(--accent-color);
}

#btn-more-option {
    padding: 20px 0;
}


.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after, .menu::after, .search-form::after {
    content: "";
    display: block;
    clear: both;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.3333333%;
}

.col-md-6 {
    width: 50%;
}

.col-md-8 {    
    width: 66.6666667%;
}

.col-md-9 {
    width: 75%;
}

.col-md-12 {
    width: 100%;
}