@import 'grid.css';

:root {
    --menu-border: 1px solid #2c81b8;
}

* {
    box-sizing: border-box;
}

body {      
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

h1, h2 {
    font-weight: bold;
    color: white;
}

h1 {    
    font-size: 48px;        
}

h2 {    
    font-size: 30px; 
}

p {
    margin: 20px 0;
}

select {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;        
}

.header {
    min-width: 1200px;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    margin-top: 7px;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.menu > li {    
    position: relative;
    float: left;
    width: 25%;
    border-left: var(--menu-border);
}

.menu li:last-child {
    border-right: var(--menu-border);    
}

.menu > li > span::after {    
    content: "";        
    position: absolute;    
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url(images/arrow-down.png) center / 21px 21px no-repeat;
}

.menu a, 
.menu span {
    display: block;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
}

.menu > li > a,
.menu > li > span {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #2c81b8;
}

.menu > li:hover > .submenu {
    display: block;         
}

.menu > li:hover > span::after {
    background: url(images/arrow-down-active.png) center / 20px 20px no-repeat;    
}
    
.menu > li:hover > span,
.menu > li:hover > a {
    color: white;
    background-color: #2c71b8; 
}

.submenu {
    display: none;
    position: absolute;
    left: -1px;    
    width: calc(200% + 3px);
    z-index: 10;
}

.submenu > li > a { 
    line-height: 40px;        
    color: white;
    background-color: #2c71b8; 
    padding-left: 10.4895105%;
}

.submenu > li > a:hover {    
    color: #2c71b8;
    background-color: white; 
}

.form-search {
    width: calc(100% + 30px);
    height: 40px;    
    margin-top: 5px;           
    border: 1px solid #2c71b8;    
    padding: 4px 4px;    
    background-color: transparent;
}

.form-search > * {
    float: left;
    border: none;    
    background-color: transparent;
    outline: none;    
}

.form-search > [type="text"] {
    width: calc(100% - 30px);
    height: 100%;
    padding: 0 20px;
    font-size: 21px;
}

.form-search > [type="submit"] {
    width: 30px;
    height: 30px;
    background: url(images/search.png) center no-repeat;
    background-color: #2c71b8;
}

.form-search > [type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2c71b8;
    opacity: 1; /* Firefox */
 }

 .form-search > [type="text"]::-ms-input-placeholder { /* Microsoft Edge */
    color: #2c71b8;
}

.cart {     
    display: block;
    float: right;    
    width: 40px;
    height: 40px;
    margin: 5px 0;
    background: url(images/cart.png) center no-repeat;
    background-color: white;
}

.product-counter {
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
    width: 20px;    
    height: 20px;            
    line-height: 20px;    
    text-align: center;    
    font-size: 12px;     
    border-radius: 50%;
    color: white;
    background-color: #235a93;  
}

.nav-main * {
    font-size: 14px;
    font-weight: lighter;
    text-decoration: none;
    color: rgb(210, 225, 240, 0.5);    
}

.nav-main a:hover {        
    text-decoration: underline;
}

.product-img {    
    text-align: center;    
    background-color: rgba(202, 219, 237, 0.75);
    height: 180px;   
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line style="stroke: rgb(232, 239, 247);" x1="0" y1="0" x2="100%" y2="100%"/><line style="stroke: rgb(232, 239, 247);" x1="100%" y1="0" x2="0" y2="100%"/></svg>');        
}

.product-img > img {
    position: relative;         
    top: 50%;
    transform: translateY(-50%);
}


.product-info {    
    color: white;
    font-size: 21px;
    font-weight: lighter;
    padding: 15px 16px;    
    border-top: none;    
}

.product-info >.btn-type-1, 
.product-info > .btn-type-2 {              
    margin: 0 auto 15px;
}

.product-info > p > span {
    text-transform: uppercase;
    font-weight: bold;
}

.product {
    margin-top: 50px;
    border: 1px solid rgba(202, 219, 237, 0.7);
}

.product-icons {    
    float: right;    
}

.scale-icon, .like-icon {
    display: block;
    border: 1px solid #2c71b8;
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px -40px;
    padding: 4px 4px;    
    cursor: pointer;
    outline: none;
}

.scale-icon {
    background: url(images/scale.png) center no-repeat;
}

.scale-icon:hover {
    background: url(images/scale-active.png) center no-repeat;
    background-color: #2c81b8;
}

.like-icon {
    background: url(images/like.png) center no-repeat;
}

.like-icon:hover {
    background: url(images/like-active.png) center no-repeat;
    background-color: #2c81b8;
}

.btn-type-1, .btn-type-2 {
    display: block;
    width: 210px;
    height: 50px;
    font-size: 21px;
    font-weight: bold;
    color: white;    
    opacity: 0.75;        
    cursor: pointer;
}

.btn-type-1 {    
    border: none;
    background-color: #568dc6;    
}

.btn-type-2 {
    border: 1px solid white;
    background-color: #2c71b8;
}

.centered-text {
    text-align: center;
}