@import 'grid.css';

:root {
    --accent-color: #2c71b8;    
    --fw-light: 300;
    --fw-bold: 700;    
}

* {
    box-sizing: border-box;
}

body {      
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

h1, h2 {
    font-weight: var(--fw-bold);
    color: white;
}

h1 {    
    font-size: 48px;        
}

h2 {    
    font-size: 30px; 
}

p {
    margin: 20px 0;
}

select {
    width: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;        
}

.header {
    min-width: 1200px;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    margin-top: 7px;
}

.menu::after {
    content: "";
    display: block;
    clear: both;
}

.menu {
    --border: 1px solid var(--accent-color);
}

.menu > li {    
    position: relative;
    float: left;
    width: 25%;
    border-left: var(--border);
}

.menu li:last-child {
    border-right: var(--border);    
}

.menu > li > span::after {    
    content: "";            
    position: absolute;    
    width: 20px;
    height: 20px;
    top: 50%;
    left: 80%;    
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);    
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><polyline points="0,0 5,5 10,0" style="fill:none; stroke:rgb(44, 113, 184);"/></svg>') center no-repeat;
}

.menu a, 
.menu span {
    display: block;
    text-decoration: none;    
    font-size: 21px;
    font-weight: 300;
}

.menu > li > a,
.menu > li > span {
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--accent-color);
}

.menu > li:hover > .submenu {
    display: block;
}

.menu > li:hover > span::after {
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><polyline points="0,0 5,5 10,0" style="fill:none; stroke:white;"/></svg>') center no-repeat;
}
    
.menu > li:hover > span,
.menu > li:hover > a {
    color: white;
    background-color: var(--accent-color);
}

.submenu {
    display: none;
    position: absolute;
    left: -1px;
    width: calc(200% + 3px);
    z-index: 10;
}

.submenu > li > a { 
    line-height: 40px;        
    color: white;
    background-color: var(--accent-color); 
    padding-left: 10.4895105%;
}

.submenu > li > a:hover {    
    color: var(--accent-color);
    background-color: white; 
}

.form-search {
    width: calc(100% + 30px);
    height: 40px;    
    margin-top: 5px;           
    border: 1px solid var(--accent-color);    
    padding: 4px 4px;    
    background-color: transparent;
}

.form-search > * {
    float: left;
    border: none;    
    background-color: transparent;
    outline: none;    
}

.form-search > [type="text"] {
    color: var(--accent-color);
    width: calc(100% - 30px);
    height: 100%;
    padding: 0 20px;
    font-size: 21px;
}

.form-search > [type="submit"] {
    width: 30px;
    height: 30px;
    background: url(images/search.png) center no-repeat;
    background-color: var(--accent-color);
}

.form-search > [type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--accent-color);
    opacity: 1; /* Firefox */
 }

 .form-search > [type="text"]::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--accent-color);
}

.cart {     
    display: block;
    float: right;    
    width: 40px;
    height: 40px;
    margin: 5px 0;
    background: url(images/cart-dark.png) center no-repeat;
    background-color: white;    
}

.cart-counter {
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;       
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    background-color: var(--accent-color);
}

.nav-main * {
    font-size: 14px;
    font-weight: var(--fw-light);
    text-decoration: none;
    color: rgb(210, 225, 240, 0.5);  
}

.nav-main a:hover {        
    text-decoration: underline;
}

.product-img {    
    text-align: center;    
    background-color: rgba(202, 219, 237, 0.75);    
    height: 180px;       
}

.product-img > img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
}


.product-info {
    color: white;
    font-size: 21px;
    font-weight: var(--fw-light);
    padding: 15px 16px;
    border-top: none;
    background-color: rgba(44, 113, 184, 0.75);
}

.product-info > .btn {
    margin: 0 auto 15px;
}

.product-info > p > span {
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

.product {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgba(202, 219, 237, 0.7);
}

.product-icons {
    float: right;
}

.zoom-icon, .like-icon {
    display: block;
    border: 1px solid var(--accent-color);
    width: 30px;
    height: 30px;
    margin: 10px 10px 10px -40px;
    padding: 4px 4px;    
    cursor: pointer;
    outline: none;
}

.zoom-icon {
    background: url(images/zoom.png) center no-repeat;
}

.zoom-icon:hover {
    background: url(images/zoom-active.png) center no-repeat;
    background-color: var(--accent-color);
}

.like-icon {
    background: url(images/like.png) center no-repeat;
}

.like-icon:hover {
    background: url(images/like-active.png) center no-repeat;
    background-color: var(--accent-color);
}

.btn {
    display: block;
    width: 210px;
    height: 50px;
    font-size: 21px;
    font-weight: var(--fw-bold);
    color: white;        
    cursor: pointer;    
}

.btn-add-to-cart:hover > .add-to-cart-icon {    
    background: url(images/cart-dark.png) center no-repeat;
}

.btn:hover {
    color: var(--accent-color);
    background-color: white;
}

.add-to-cart-icon {
    display: inline-block;
    width: 1em;    
    height: 1em;
    position: relative;
    top: 2px;    
    background: url(images/cart-light.png) center no-repeat;
}

.btn-add-to-cart {    
    border: none;    
    background-color: rgb(86, 141, 198, 0.8);
}

.btn-more-details {
    border: 1px solid white;
    background-color: var(--accent-color);
}

.btn-load-more {
    display: block;   
    font-size: 36px;
    font-weight: var(--fw-light);
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 15px 0;
}

.btn-load-more:hover {
    text-decoration: underline;
}

.hcentered-block {    
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}