@import 'grid.css';

* {
    box-sizing: border-box;
}

body {      
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}

h1, h2 {
    font-weight: bold;
    color: white;
}

h1 {    
    font-size: 48px;        
}

h2 {    
    font-size: 30px; 
}

p {
    margin: 20px 0;
}

select {
    width: 100%;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    min-width: 1200px;
    padding: 25px 0;
    background-color: rgba(255, 255, 255, 0.75);
}

.logo {
    margin-top: 7px;
}

.menu-bar::after {
    content: "";
    display: block;
    clear: both;
}

.menu-bar > li {    
    position: relative;
    float: left;
    width: 25%;
    border-left: 1px solid #2c81b8;
}

.menu-bar > li > span::after, 
.menu > li:first-child span::after {    
    content: "";        
    position: absolute;    
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.menu-bar > li > span::after {
    background: url(images/arrow-down.png) center / 21px 21px no-repeat;
}

.menu-bar li:last-child {
    border-right: 1px solid #2c81b8;    
}

.menu-bar a, .menu-bar span {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    font-weight: 300;
}

.menu-bar > li > a,
.menu-bar > li > span {    
    height: 50px;       
    line-height: 50px;        
    color: #2c81b8;
}

.menu-bar a:hover,
.menu-bar span:hover {
    background-color: #2c71b8;
    color: white;
}

.menu-bar li:hover > .menu {
    display: block;    
}

.menu {
    display: none;
    position: absolute;
    left: -1px;
    top: 0;
    width: calc(200% + 3px);    
    z-index: 10;
}

.menu > li a,
.menu > li span {
    line-height: 40px;        
    color: white;
    background-color: #2c71b8; 
}

.menu li a:hover,
.menu > :not(li:first-child) span:hover {    
    color: #2c71b8;
    background-color: white;    
}

.menu > li:first-child {    
    position: relative;
    width: calc(100% / 2);
}

.menu > li:first-child span::after {
    background: url(images/arrow-down-active.png) center / 20px 20px no-repeat;    
}

.menu > li:first-child > span {
    line-height: 50px;    
}

.menu::before::after {        
    content: "";    
    color: #2c81b8;    
    position: absolute;    
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;    
    background: url(images/arrow-down.png) no-repeat;
    background-size: 20px 20px;    
}

.search-form {
    width: calc(100% + 30px);
    height: 40px;    
    margin-top: 5px;           
    border: 1px solid #2c71b8;    
    padding: 4px 4px;    
    background-color: #fff;
}

.search-form > * {
    float: left;
    border: none;    
    background-color: transparent;
    outline: none;    
}

.search-form > [type="text"] {
    width: calc(100% - 30px);
    height: 100%;
    padding: 0 20px;
    font-size: 21px;
}

.search-form > [type="submit"] {
    width: 30px;
    height: 30px;
    background: url(images/search.png) center no-repeat;
    background-color: #2c71b8;
}

.search-form > [type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2c71b8;
    opacity: 1; /* Firefox */
 }

 .search-form > [type="text"]::-ms-input-placeholder { /* Microsoft Edge */
    color: #2c71b8;
}

.cart {     
    display: block;
    float: right;    
    width: 40px;
    height: 40px;
    margin: 5px 0;
    background: url(images/cart.png) center no-repeat;
    background-color: white;
}

.cart .product-counter {
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
    width: 20px;    
    height: 20px;    
    line-height: 20px;    
    text-align: center;    
    border-radius: 50%;
    background-color: #235a93;
    color: white;
    font-size: 12px;       
}

.main-nav a, .main-nav a:nth-child(-n+2)::after {
    font-size: 14px;
    color: rgb(210, 225, 240, 0.5);
}

.main-nav a {    

    text-decoration: none;
}

.main-nav a:hover {        
    text-decoration: underline;
}

.main-nav a:nth-child(-n+2)::after {     
    content: " >";
}

.product-img {    
    text-align: center;    
    background-color: rgba(202, 219, 237, 0.75);
    height: 180px;    
}

.product-img > img {
    position: relative;     
    transform: translateY(-50%);
    top: 50%;
}

.select-sorting {
    color: #f1f5fa;
    background-color: transparent;
    border: 1px solid white;
    font-size: 21px;        
    padding: 10px 20px;    
}

.product-info {
    color: white;
    font-size: 21px;
    padding: 15px 16px;    
    border-top: none;
}

.product-info > p > span {
    text-transform: uppercase;
    font-weight: bold;
}

.product {
    margin-top: 50px;
    border: 1px solid rgba(202, 219, 237, 0.7);
}

.btn {
    display: block;
    width: 210px;
    height: 50px;
    font-size: 21px;
    font-weight: bold;
    color: white;
    border: none;    
    background-color: #568dc6;
    opacity: 0.75;
    cursor: pointer;
}

.transparent {
    border: 1px solid white;
    background-color: transparent;
}

.price {
    text-align: center;
}

.product-info > .btn {              
    margin: 0 auto 15px;
}